In [1]:
from scipy.stats import randint
import pandas as pd
import revenue_maximization_ranking as rmr
from revenue_maximization_ranking.cascade import full_best_x, expected_revenue

In [2]:
rmr.__version__

'0.0.4'

In [3]:
g = randint(1, 20)

In [4]:
df = pd.DataFrame({"name": list("abcdefghijklmnop"),
                   "rev": [3.1, 1.1, 5.1, 0.1, 0.3, 0.3, 3.1, 0.4, 0.4, 0.01,
                           0.01, 1.1, 1.08, 3.2, 0.001, 0.1],
                   "prob": [0.05, 0.02, 0.005, 0.01, 0.1, 0.08, 0.12, 0.06,
                            0.05, 1-0, 0.99, 0.1, 0.1, 0.04, 1.0, 0.05]})

In [5]:
df["default_rnk"] = [i + 1 for i in range(df.shape[0])]

In [6]:
rev_default = expected_revenue(df, revenue_col="rev", probability_col="prob", 
                               ranking_col="default_rnk", g=g)

In [7]:
df["ranking"] = full_best_x(df, revenue_col="rev", probability_col="prob",
                            g=g)

In [8]:
df

   name    rev   prob  default_rnk  ranking
0     a  3.100  0.050            1        3
1     b  1.100  0.020            2        7
2     c  5.100  0.005            3        6
3     d  0.100  0.010            4       15
4     e  0.300  0.100            5       10
5     f  0.300  0.080            6       11
6     g  3.100  0.120            7        2
7     h  0.400  0.060            8        8
8     i  0.400  0.050            9        9
9     j  0.010  1.000           10       13
10    k  0.010  0.990           11       14
11    l  1.100  0.100           12        4
12    m  1.080  0.100           13        5
13    n  3.200  0.040           14        1
14    o  0.001  1.000           15       16
15    p  0.100  0.050           16       12

In [9]:
rev_full_best_x = expected_revenue(df, revenue_col="rev", 
                                   probability_col="prob", 
                                   ranking_col="ranking", g=g)

In [10]:
(rev_full_best_x/rev_default - 1) * 100

73.44720296571236